* {
  font-family: "Space Mono", monospace, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}
#root {
  height: 100%;
}
.App {
  height: 100%;
  position: relative;
}
#attribution {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
